---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedStudies from "@utils/getSortedStudies";
import { SOCIALS } from "@config";

const studies = await getCollection("studies");

const sortedStudies = getSortedStudies(studies);
const featuredStudies = sortedStudies.filter(({ data }) => data.featured);
const recentStudies = sortedStudies.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    {
      featuredStudies.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredStudies.map(({ data, slug }) => (
                <Card
                  href={`/studies/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentStudies.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentStudies.length > 0 && (
        <section id="recent-studies">
          <h2>Recent Studies</h2>
          <ul>
            {recentStudies.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/studies/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-studies-btn-wrapper">
      <LinkButton href="/studies/">
        All Studies
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Studies Sections ===== */
  #featured,
  #recent-studies {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-studies h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-studies-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
