---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedStudies: CollectionEntry<"studies">[];
}

const { currentPage, totalPages, paginatedStudies } = Astro.props;
---

<Layout title={`Studies | ${SITE.title}`}>
  <Header activeNav="studies" />
  <Main pageTitle="Studies" pageDesc="All the articles I've studied.">
    <ul>
      {
        paginatedStudies.map(({ data, slug }) => (
          <Card href={`/studies/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/studies${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/studies/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
